<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.uc.dei.mrc.uctickets.ui"
    android:label="UC FrontDesk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
          android:name="pt.uc.dei.mrc.uctickets.ui.permission.MAPS_RECEIVE"
          android:protectionLevel="signature" />

    <uses-permission android:name="pt.uc.dei.mrc.uctickets.ui.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
    	android:glEsVersion="0x00020000"
    	android:required="true"/>    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="pt.uc.dei.mrc.uctickets.service.ServiceMain"
            android:enabled="true" >
        </service>

        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.ServicesActivity"
            android:label="@string/title_activity_services"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.LocalsActivity"
            android:label="@string/title_activity_locals"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.TicketsActivity"
            android:label="@string/title_activity_tickets"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
      
        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.MapsActivity"
            android:label="@string/title_activity_maps" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="pt.uc.dei.mrc.uctickets.ui.MapsDirectionsActivity"
            android:label="@string/title_activity_maps_directions" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        
        <meta-data
			android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyCyiiDM3rrTrLM4-ZLsWowEfJPozDElFI8"/>
    </application>

</manifest>
